.hidden{
    display: none;
}

img{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 90%;
}
#todo-form input{
    width: 200px;
}
#quote{
    color: aliceblue;
}
body{
    text-align: center;
    margin-top: 20%;

}
li{
    text-align: center;
    list-style-position:inside;
}

#todo-list{
    color: aliceblue;
    font-size: 20px;
}

